.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(19, 20, 20);
  color: white;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: rgb(19, 20, 20);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo{
  height: 75px;
  width: 75px;
}

.collector{
  height: 100px;
  width: 100px;
}

.collector2{
  height: 400px;
  width: 400px;
}

.image{
  size: 1px;
}

.user-text{
  padding: 100px;
  margin-top: 50px;
}

.btn-primary{
  padding: 50px;
}

image{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.submissions {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 10px;
}

.submissions label {
  text-align: left;
  display: block;
}

.submissions input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.twombly1 {
  height: 600px;
  width: 600px;
}

.twombly2 {
  height: 600px;
  width: 600px;
}

.twombly3 {
  height: 500px;
  width: 700px;
}

.twombly4 {
  height: 500px;
  width: 300px;
}

.twombly5 {

}

