.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(19, 20, 20);
  color: white;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: rgb(19, 20, 20);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo{
  height: 75px;
  width: 75px;
}

.collector{
  height: 100px;
  width: 100px;
}

.collector2{
  height: 400px;
  width: 400px;
}

.image{
  size: 1px;
}

.user-text{
  padding: 100px;
  margin-top: 50px;
}

.btn-primary{
  padding: 50px;
}

image{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

